<nb-layout-column>
    <a nbButton status="info" class="add-button" routerLink="/user-add">
        <nb-icon icon="plus-square-outline"></nb-icon> Add User</a>
    <nb-card size="medium">
        <nb-list>
            <nb-list-item *ngFor="let user of users; let i = index">
                <a class="users" [title]="user.name + 'details'" style="text-decoration: none;" routerLink="/detail/{{user.id}}">{{user.name}}</a>
                <button class="delete" shape="semi-round" nbButton status="danger" (click)="delete(i)"><nb-icon icon="trash-2-outline"></nb-icon></button>
            </nb-list-item>
        </nb-list>
    </nb-card>
</nb-layout-column>