<!-- <nb-layout-column>
    <nb-card status="primary" accent="success" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
        <nb-card-header>
            <h1>New User</h1>
        </nb-card-header>
        <nb-card-body>
            <form [formGroup]="newUser">
                <input id="id" style="display: none;" value="newUser.id.value" formControlName="id">
                <label for="name">User name: </label><br><br>
                <input id="name" type="text" shape="round" status="primary" nbInput fullWidth formControlName="name" /><br><br>
                <label for="phone">Phone: </label><br><br>
                <input id="phone" type="text" shape="round" status="primary" nbInput fullWidth formControlName="phone" /><br><br>
                <label for="email">Email: </label><br><br>
                <input id="email" type="text" shape="round" status="primary" nbInput fullWidth formControlName="email" /><br><br>
                <button class="add-button" nbButton outline shape="semi-round" [status]="newUser.invalid?'danger':'primary'" [disabled]="!newUser.valid" (click)="add(newUser.value);"><nb-icon icon="plus-square-outline"></nb-icon>Add User</button>
            </form>
        </nb-card-body>
    </nb-card>
</nb-layout-column> -->
<nb-layout-column *ngIf="user">
    <nb-card status="primary" accent="info" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large">
        <nb-card-header>
            <h1>User Details</h1>
        </nb-card-header>
        <nb-card-body>
            <div>
                <label for="id">Id: </label>
                <input value="{{user.id}}" nbInput fullWidth status="primary" readonly>
                <label for="user-name">User name: </label>
                <input id="user-name" nbInput fullWidth required status="primary" [(ngModel)]="user.name" placeholder="User name">
                <label for="phone">Phone: </label>
                <input id="phone" nbInput fullWidth required status="primary" [(ngModel)]="user.phone" placeholder="Phone number">
                <label for="email">Email: </label>
                <input id="email" nbInput fullWidth required status="primary" [(ngModel)]="user.email" placeholder="Email">
            </div>
            <button nbButton status="info" (click)="goBack()">Back</button>
            <button nbButton hero status="success" (click)="save()"><nb-icon icon="save-outline"></nb-icon>Save</button>
        </nb-card-body>
    </nb-card>
</nb-layout-column>